a {
  text-decoration: none;
  color: #465881;
}

h1 {
  font-size: 3rem;
}

.email {
  font-size: 1.15rem;
  text-align: center;
}

.linkedin {
  font-size: 1.05rem;
  text-align: center;
}

@media (min-width: 480px) {
  .email {
    font-size: 1.5rem;
  }
  .linkedin {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .email {
    font-size: 2.55rem;
  }
  .linkedin {
    font-size: 2.3rem;
  }
}

@media (min-width: 1000px) {
  .email {
    font-size: 3.3rem;
  }
  .linkedin {
    font-size: 3rem;
  }
}
