header {
  margin-bottom: 1.45rem;
  position: relative;
}

.header {
  margin: 0 auto;
}

.subtitle {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.name {
  margin: 0 auto;
  max-width: 960;
  color: #ffffff;
  position: absolute;
  padding: 1.45rem;
  top: 0;
  left: 0;
  z-index: 2;
}

.headerText {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}

.hero {
  font-size: 2.5rem;
}
@media (min-width: 400px) {
  .headerText {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .headerText {
    padding: 0 3rem;
  }
  .hero {
    font-size: 3.2rem;
  }
}

@media (min-width: 1000px) {
  .headerText {
    padding: 0 4rem;
  }
  .hero {
    font-size: 4rem;
  }
}