.card {
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0 1rem 1rem 0;
  background: #ffffff;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  position: relative;
}

.card:hover {
  box-shadow: 5px 10px #fafafa;
}

.link {
  text-decoration: none;
  color: #090909;
}

.title {
  margin-bottom: .5rem;
  font-size: 1.25rem;
}

.cta {
  vertical-align: bottom;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 10px;
  border-radius: 3px;
  background-color: #1b2a49;
  width: 120px;
}

.date {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
